<!DOCTYPE html>
<html>
<head>
<title>Aggiungi uno studente</title>
</head>
<body>
	<h1>Universita' di Perth</h1>
	<h3>Inserisci i dati e aggiungi uno studente</h3>
	<form action="#" th:action="@{/aggiungiStudente}"
		th:object="${studente}" method="POST">
		<table>
			<thead>
				<tr>
					<th>Matricola</th>
					<th>Nome</th>
					<th>Cognome</th>
					<th>Data di nascita</th>
					<th>Email</th>
					<th>Indirizzo</th>
					<th>Citta'</th>
					<th>Corso di laurea</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" th:field="*{matricola}" id="matricola"
						required="required" th:disabled="${matricola!=null}"
						placeholder="Inserisci la matricola"></td>
					<td><input type="text" th:field="*{nome}" id="nome"
						required="required" placeholder="Inserisci il nome"></td>
					<td><input type="text" th:field="*{cognome}" id="cognome"
						required="required" placeholder="Inserisci il cognome"></td>
					<td><input type="date" pattern="yyyy-MM-dd"
						th:field="*{dataNascita}" id="dataNascita" required="required"
						placeholder="Inserisci la data di nascita"></td>
					<td><input type="email" th:field="*{email}" id="email"
						required="required" placeholder="Inserisci l'email"></td>
					<td><input type="text" th:field="*{indirizzo}" id="indirizzo"
						required="required" placeholder="Inserisci l'indirizzo"></td>
					<td><input type="text" th:field="*{citta}" id="citta"
						required="required" placeholder="Inserisci la citta'"></td>
					<td><select th:field="*{corsoLaurea}" required="required">
							<div th:each="c : ${corsi}">
								<option th:text="${c.nome}" th:value="${c.codice}"></option>
							</div>
					</select></td>
				</tr>
			</tbody>
		</table>
		<p>
			<input type="submit" value="Aggiungi studente" />
		</p>
		<p>
			<button>
				<a href="/index">Homepage</a>
			</button>
		</p>
	</form>
</body>
</html>