<!DOCTYPE html>
<html>
<head>
<title>Aggiungi un corso</title>
</head>
<body>
	<h1>Universita' di Perth</h1>
	<h3>Inserisci i dati e aggiungi un corso</h3>
	<form action="#" th:action="@{/aggiungiCorso}" th:object="${corso}"
		method="POST">
		<table>
			<thead>
				<tr>
					<th>Codice</th>
					<th>Nome</th>
					<th>Indirizzo</th>
					<th>Numero di esami</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" th:field="*{codice}" id="codice"
						required="required" th:disabled="${codice!=null}"
						placeholder="Inserisci il codice"></td>
					<td><input type="text" th:field="*{nome}" id="nome"
						required="required" placeholder="Inserisci il nome"></td>
					<td><input type="text" th:field="*{indirizzo}" id="indirizzo"
						required="required" placeholder=" Inserisci l'indirizzo"></td>
					<td><input type="number" th:field="*{numeroEsami}"
						id="numeroEsami" required="required" min="10"
						placeholder="Inserisci il numero di esami"></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="Aggiungi corso" />
		<p>
			<a href="/index">Homepage</a>
		</p>
	</form>
</body>
</html>